* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla-Italic';
}

@font-face {
    font-family: 'Karla-Italic';
    src: url(https://nicalarcon98.github.io/Demo-Contact-form-Practise-/assets/fonts/Karla-VariableFont_wght.ttf), url(https://nicalarcon98.github.io/Demo-Contact-form-Practise-/assets/fonts/Karla-Italic-VariableFont_wght.ttf);
}
@keyframes popup {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }

@keyframes popout {
    0%{
        transform: scale(1);
      }
      100%{
        transform: scale(0);
      }
  } 

#wrapper {
    background-color: rgb(200, 238, 225);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: start;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    padding: 2rem;
}

#sent {
    visibility: hidden;
    background-color: rgb(72, 93, 96);
    color: white;
    padding: 1.2rem;
    border-radius: 8px;
    height: 6rem;
    width: 25rem;
    margin-top: 3rem;
}

#sent.animation{
    visibility: visible;
    animation: popup 1s;
}
#sent.popout{
    visibility: visible;
    animation: popout 1s;
}

#upsent {
    display: flex;
    align-items: center;
}

#sent img {
    height: 20px;
    display: inline;
}

#sent h4 {
    display: inline;
}

#sent p{
    display: block;
    font-size: small;
    padding-top: 10px;
}

#title {
    padding-bottom: 1rem;
}

#name-fields {
    display: flex;
}

#first-name{
    flex: 1;
    padding-right: 0.25rem;
    
}

#last-name{
    flex: 1;
    padding-left: 0.25rem;
}

.label {
    display: block;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
}
label.hide{
    visibility: hidden;
    font-size: x-small;
    color: red;
}

#first-name input.error,
#last-name input.error,
#email input.error,
textarea.error,
#query1.error,
#query2.error {
    outline: 1px solid red;
}

#first-name input,
#last-name input,
#email input{
    width: 100%;
    padding: 0.7rem 0.7rem 0.7rem 1.2rem;
    border-radius: 5px;
    outline: 1px solid rgb(128, 176, 128);
    border: none;
}

#first-name input:focus,
#last-name input:focus,
#email input:focus,
textarea:focus {
    outline: none;
    outline: 1.5px solid rgb(75, 183, 75);
} 

#first-name input:hover,
#last-name input:hover,
#email input:hover,
textarea:hover {
    outline: none;
    outline: 1.5px solid rgb(75, 183, 75);
} 

#query {
    display: flex;
}

#query1 {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 0.25rem;
    outline: 1px solid rgb(128, 176, 128);
    border-radius: 5px;
    transition-duration: 500ms;
}
#query1:hover{
    transition-duration: 500ms;
    background-color: rgb(179, 223, 216);
}

#query2 {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    flex: 1;
    margin-left: 0.25rem;
    outline: 1px solid rgb(128, 176, 128);
    border-radius: 5px;
    transition-duration: 500ms;
}

#query2:hover {
    background-color: rgb(179, 223, 216);
    transition-duration: 500ms;
}

#query input {
    height: 30px;
    opacity: 50%;
    cursor: pointer;
    margin-left: 1rem;
}

#query input:checked {
    opacity: 100%;
    accent-color: rgb(36, 153, 114);
}

#query1:has(input:checked){
    transition-duration: 0s;
    background-color: rgb(179, 223, 216);
    outline: 1.5px solid green;
}

#query2:has(input:checked){
    transition-duration: 0s;
    background-color: rgb(179, 223, 216);
    outline: 1.5px solid green;
}

#query label {
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

textarea {
    height: 10vh;
    width: 100%;
    border-radius: 5px;
    outline: 1px solid rgb(128, 176, 128);
    resize: none;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border: 0;
}

#consent {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 0rem;
}

#consent p{
    font-size: small;
    display: block;
}

#consent input {
    opacity: 50%;
    margin-right: 1rem;
    cursor: pointer;
}

#consent input:checked{
    opacity: 100%;
    accent-color: rgb(46, 135, 114);
}

#submit {
    width: 100%;
    height: 4rem;
}

#submit input{
    width: 100%;
    padding: 0.7rem;
    color: white;
    background-color: rgb(46, 135, 114);
    border-radius: 5px;
    border: none;
    transition-duration: 500ms;
    margin-top: 2rem;
    cursor: pointer;
}

#submit input:hover {
    background-color: rgb(11, 94, 75);
    transition-duration: 500ms;
}

span {
    color: rgb(41, 173, 129);
}


label.hide.show{
    visibility: visible;
    font-size: x-small;
    color: red;
}

#splabel.hide{
    margin-bottom: 2rem;
}

@media (max-width: 600px){
    #wrapper {
        height: 100dvh;
        justify-content: center;
    }

    #container {
        width: 90%;
        height: 90%;
    }

    #sent{
        position: fixed;
        visibility: hidden;
        z-index: 2;
        margin-bottom: 30rem;
    }
    #name-fields{
        display: flex;
        flex-direction: column;
    }
    #query {
        display: flex;
        flex-direction: column;
    }

    #query1,#query2 {
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }
}
